@font-face {
    font-family: "Logo";
    src: url('../../public/fonts/BauhausBoolDisplayVF.woff2');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
  font-family: "MathxR";
  src: url('../../public/fonts/mathkatexr.ttf');
  font-weight: bold;
  font-style:normal;
}
  .navbar-brand:hover, .navbar-brand:focus{
    color: #422B64 !important;
    opacity: 0.9;
  }